html {
	font-family: 'Roboto', sans-serif;
}

body {
	height:  100vh;
}
#output {
	font-size: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
	height:  inherit;
	background: black;
	color:  white;
}